/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 23rem;
}

.product-img {
  width: 100%;
}

.product-category {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.75rem;
}

.product-name {
  color: black;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.product-details {
  padding: 30px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.product-description {
  margin: 0;
}

.price-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-price {
  text-decoration: line-through;
  margin: 0px;
  font-family: "Fraunces", serif;
}

.product-special {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  margin-right: 15px;
  margin-top: 0px;
  font-family: "Fraunces", serif;
}

.cart-icon {
  padding-right: 10px;
}

.add-to-cart {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart:hover {
  background-color: hsl(212, 21%, 14%);
}

.add-to-cart:active {
  background-color: hsl(212, 21%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .product-card {
    flex-direction: row;
    width: 39rem;
    height: 28rem;
    overflow: hidden;
  }

  .product-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    content: url("./images/image-product-desktop.jpg");
  }

  .product-details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
}
